@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #303030;
  font-family: sans-serif, Arial;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.header {
  height: 50px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 10px;
}

.header__menu {
  display: flex;
  align-items: center;
  width: 250px;
}

.header__items {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__score {
  display: flex;
  align-items: center;
}

.header__item {
  cursor: pointer;
  position: relative;
}

.header__item--selected {
  font-weight: bold;
}

.header__item--selected:after {
  content: '';
  border-bottom: 2px solid white;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  animation: expand 0.5s;
}

@keyframes expand {
  from {
    width: 5%;
  }

  to {
    width: 50%;
  }
}

.current-score {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-size: x-large;
}

.container {
  margin: auto;
  width: 85%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 200px));
  grid-template-rows: repeat(4, minmax(auto, 185px));
  grid-gap: 15px;
}

.tile {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  cursor: pointer;
  background: darkgrey;
  position: relative;
}

.flip {
  animation: 0.5s flip;
}

@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  font-family: 'Single Day', sans-serif, Arial;
  font-size: 1.3rem;
  background: black;
  color: #39ff14;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.card__img {
  height: 78%;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.card__name {
  height: 22%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.instruction {
  margin: 50px auto;
  width: 900px;
  padding: 100px;
  background: black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('/src/assets/rick-and-morty.jpg');
  background-size: cover;
  border-radius: 10px;
  color: white;
}

.instruction h1 {
  margin-bottom: 40px;
  font-size: xx-large;
}

.instruction p {
  line-height: 2rem;
  font-size: 1.3rem;
}

.modal-overlay {
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 320px;
  width: 350px;
  border-radius: 10px;
  padding: 30px;
  background: #000000;
  color: #ffffff;
  margin: 150px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal p {
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.modal button {
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background: #ffffff;
  cursor: pointer;
}

.modal button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 880px) {
  .container {
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(4, 120px);
    justify-content: center;
    height: 100%;
  }

  .card__name {
    font-size: 0.9rem;
  }

  .instruction {
    width: 90%;
    padding: 80px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    justify-content: center;
    height: 100%;
  }

  .header {
    flex-direction: column;
    height: 80px;
    align-items: center;
    margin-top: 20px;
  }

  .current-score {
    margin-bottom: 20px;
  }

  .card__name {
    font-size: 0.5rem;
  }

  .instruction {
    padding: 30px;
    background-position: center;
  }

  .modal {
    width: 90%;
  }
}
